.bluetext{
  color:blue;
}
.bluebg{
    background-color:#0E33ED;
}
.p1 {
  margin:35px;
  background-colour:blue;
  font-family:arial
}
.p2 {
  width: 50%;
  background-colour:#E01687;
}


.p3 {
  width: 80%
  font-size: 100px;
  font-family:'Baloo Tammudu', cursive;
}
